.image {
    height: 200px;
}

.name {
    text-align: center;
    font-size: 25px;
}

.about {
    text-align: center;
    font-size: 1.5vw;
}

html, body{
    min-height: 100%;
    color: white;
    text-align: center;
}

.content {
    line-height: 30%;
}

.bg-pink {
    background-color: teal;
    background-image: linear-gradient(to right, teal , cyan);
}

a:hover {
    background-color: teal;
    background-image: linear-gradient(to right, teal , green);
}

.footer {
    text-align: center;
}
